:root{
    --mainColor:#408aff;
    --background:#171921;
    --hover:#1a1c24;
    --mainFont:#97a3b6;
    --orange:rgb(254,240,138);
    --lightgreen:rgb(134,239,172);
    --chat-gradient-shape:to right;
  }
  